.btn{
    color: $white;
    border: none;
    box-shadow: 0 5px 20px rgba($green, 0.4);
    border-radius: .2rem;
    font-size: 2rem;
    font-family: inherit;
    background-color: $green;
    margin-top: 4rem;
    
 }