.footer__section{
    background-color: $pink-light;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 5rem 0;
    justify-content: space-between;
    // align-items: center;
    max-width: 110rem;

    @media only screen and(max-width: 37.5em){
        flex-direction: column;
        align-items: center;
        
    }

    &__logo{
       
        
        .text{
            padding: 1rem 0;
        }
    }

    &__company{
        ul{
            li{
                list-style: none;
                padding: 1rem 0;
                 a{
                     font-size: 1.6rem;
                     text-decoration: none;
                     color: #000;

                     &:hover{
                         color: $green;
                         
                     }
                 }
            }
        }
    }

    &__links{
        p{
            font-size: 2rem;
            a{
                text-decoration: none;
                color: $green;
            }
        }

        .email{
            padding: 1rem 0;
            font-size: 1.4rem;
            color: $grey-1;
        }

        .icons{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 2rem;
        }
    }
}