.header {
 
    background-image: linear-gradient(45deg, $blue, $pink-light);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;






    &__nav {

        display: flex;
        justify-content: space-between;
        max-width: 140rem;
        margin: 0 auto;
        padding: 2rem 0;
        align-items: center;

        .toggle {
            display: none;
        }

        









        .list {
            display: flex;
            
           


            &__item {
                list-style: none;



            }

            &__link:active {
                color: $white;
            }

            &__link:link,
            &__link:visited {
                list-style: none;
                font-size: 1.5rem;
                text-decoration: none;
                margin: 0 2rem;
                border-bottom: transparent;


            }

            &__link {
                color: $green;
                transition: all .6s ease-in-out;


            }

            &__link:hover {
                border-bottom: 2px solid $green;
                color: $green-2;



            }

        }

        

        .btn-head {
            font-family: inherit;
            font-weight: 700;
            border: none;
            padding: 1rem 2rem;
            color: $white;
            border-radius: 25px 0 25px 25px;
            background-color: $green;
            cursor: pointer;
            transition: all .4s ease-in-out;



            &:hover {
                transform: translateY(2px);
                box-shadow: 0 5px 20px rgba($green, 0.4);
            }
        }


    }

    @media only screen and (max-width: 48em) {

        

        .header{
            position: relative;
        }


        

        &__nav {
           

            .list {
                display: none;
                text-align: center;
                position: absolute;
                width: 100%;
                height: 100vh;
                top: -1000%;
                left: 50%;
                justify-content: center;
                background-color: green;
               z-index: 10;
                
                flex-direction: column;
                transform: translate(-50%, -50%);
                transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &__link:link,
                &__link:active{
                    transition: all .5s;
                    font-size: 5rem;
                    text-transform: uppercase;
                    
                }

                &__item{
                   padding-top: 10rem;
                }


                &__link {
                    color: $white;
                    
                    
                }

                &__link.active {
                    color: $white;
                    
                    
                    
                }


                &.active {
                    display: flex;
                    // display: block;
                    top: 50%;
                    
    
    
                    
    
    
    
    
    
    
                    &__item {
                       
    
                        
                        
                        
                    }
                }
            }

            

            .btn-1 {
                
                display: none;

                
            }

            

            .toggle {

                height: 6rem;
                width: 7rem;

                // background-color: $green;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 10;

                span {
                    width: 5rem;
                    height: 2px;
                    border-radius: 50px;
                    background-color: red;

                    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    &::before{
                        position: absolute;
                        content: '';
                        background-color: red;
                        width: 5rem;
                    height: 2px;
                    top: 40px;
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        background-color: red;
                        width: 5rem;
                    height: 2px;
                    top: 20px;
                    }
                    
                }

                &.active {
                    position: fixed;
                    right: 17rem;
                    

                    


                    span {
                        width: 0;
                    }


                    span{
                       

                        &::before {
                            transform: rotate(135deg);
                            top: 0rem;
                        }

                        &::after {
                            transform: rotate(-135deg);
                            top:0rem;
                        }
                    }
                }




            }


        }



    }


    &__content {

        display: flex;
        flex-wrap: wrap;
        max-width: 140rem;
        justify-content: center;
        margin: 10rem auto;
        align-items: center;
        padding-bottom: 8rem;

        @media only screen and(max-width: 87em){
            margin: 0 1rem;
        }
        

        @media only screen and(max-width: 43.75em){
            flex-direction: column;
            
        }


        .text{
            flex: 1;
            // align-self: flex-end;

            @media only screen and(max-width: 43.75em){
                width: 100%;
                text-align: center;
                margin-top: 10rem;
            }

            &__description{
                font-size: 1.6rem;
                padding: 2rem 0;
            }

            
        }

        .image{
            display: flex;
            flex:  1;
            justify-self: center;

            @media only screen and(max-width: 43.75em){
                height: 40rem;
                width: 50rem;
            }

            img{
                width: 100%;
            }
        }

    }



}


/////////////////////////////////////////////
////Nav Responsive